- content_for :body_class, 'themed'

%h1= @website.title
%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla hendrerit quam eu nisl pellentesque aliquam.

= link_to 'View theme stylesheet', 'http://localhost:3000/theme.css'
