body {
  padding: 1em 0 2em;
}

.themed {
  background: yellow url('https://au.dryjuly.com/assets/img/dj-logo.gif') no-repeat 100% 0;
  color: red;
  font-family: verdana;

  h1 {
    font-family: times;
  }
}
